<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>DorevRus</title>
	<style>
		.row {
			margin-bottom: 100px;
		}
	</style>
</head>
<body>
	
	<div class="row header-row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><h1>Портал о дореволюционной орфографии</h1></div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2>Тест на знание дореволюционной орфографии</h2>
			<a href="/"><button>На старт</button></a>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			{% if way == 0 %}
				<h3>Вы ответили неправильно!</h3>
			{% endif %}
			{% if way == 1 %}
				<h3>Вы ответили правильно!</h3>
			{% endif %}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h3>Как правильно?</h3>
			<a href="/test?answered=1"><button>{{Markup(q['correct'])}}</button></a><a href="/test?answered=0"><button>{{Markup(q['false'])}}</button></a>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	</div>

</body>
</html>